.btn {
  color: white;
  background-color: #50C878;
  width: 400px;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  font-style: italic;
  border-radius: 200px;
}

.abtn {
  color: white;
  background-color: blue;
  width: 400px;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  font-style: italic;
  border-radius: 200px;
}

.bbtn {
  color: white;
  background-color: #9457EB;
  width: 400px;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  font-style: italic;
  border-radius: 200px;
}


.cbtn {
  color: white;
  background-color: #EB4C42;
  width: 400px;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  font-style: italic;
  border-radius: 200px;
}

.dbtn {
  color: white;
  background-color: #EB4C42;
  width: 400px;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  font-style: italic;
  border-radius: 200px;
}.zbtn {
  color: white;
  background-color: #00C81B;
  width: 400px;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  font-style: italic;
  border-radius: 200px;
}


.ebtn {
  color: white;
  background-color: #C88314;
  width: 400px;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  font-style: italic;
  border-radius: 200px;
}

.ybtn {
  color: rgb(5, 5, 5);
  background-color: #38FAC2 ;
  width: 400px;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  font-style: italic;
  border-radius: 200px;
}

.dbtn {
  color: white;
  background-color: #C804BB;
  width: 400px;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  font-style: italic;
  border-radius: 200px;
}
.lbtn {
  color: white;
  background-color: #2c78aa;
  width: 400px;
  margin: 20px;
  padding: 20px;
  font-size: 22px;
  font-style: italic;
  border-radius: 200px;
}


body {

  background-image: url(b.png);
}









/*https://github.com/admin007r/huquqshunos.git*/